@model WebBlog.Web.Models.RegisterModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LoginandRegister.css" />
</head>
<body>

    <div class="col-md-4 offset-md-4">
        <div class="form-container">

            <h3 class="title">Регистрация</h3>
            <form class="form-horizontal" asp-action="Register" asp-controller="User" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input type="text" asp-for="Email" class="form-control" placeholder="email address" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="form-control" placeholder="password" type="password" />
                    <span asp-validation-for="Password" />

                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Повторите пароль</label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="password" type="password" />
                    <span asp-validation-for="ConfirmPassword" />

                </div>
                <input type="submit" value="Регистрация" class="btn btn-default"/>
            </form>

        </div>
    </div>
</body>