@model IEnumerable<WebBlog.Web.Models.RoleViewModel>
@{
    ViewBag.Title = "Все роли";
}
<div>
    <a class="btn btn-primary" asp-action="Create">Добавить роль</a>
</div>


<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Наименование</th>
            <th> Количество пользователей</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.Name</td>
    <td>
        @item.Users.Count();
       
    </td>
    <td><a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить роль</a></td>
    <td>
        <form asp-controller="Role" asp-action="Delete" method="post" asp-route-id="@item.Id">
            <input class="btn btn-primary" type="submit" value="Удалить" />
        </form>

    </td>
</tr>

        }
</table>


<div>


</div>
