@model IEnumerable<WebBlog.Web.Models.RoleViewModel>
@{
    ViewBag.Title = "Все роли";
}

<div class="container">
    <h1> Все роли </h1>

    <a class="btn btn-add col-md-6" role="button" asp-action="Create">Добавить роль</a>


    @foreach (var item in Model)
    {
        <div class="card card1 ">

            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text" > @item.Description</p>

                <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">

                    <a class="btn btn1" asp-action="Edit" asp-route-id="@item.Id">Изменить роль</a>

                    <form asp-controller="Role" asp-action="Delete" method="post" asp-route-id="@item.Id">
                        <input type="submit" class="btn btn1" value="Удалить" />
                    </form>

                </div>
               
            </div>
        </div>



    }
</div>

