@model WebBlog.Web.Models.PostsViewModel;


<div class="block-reg container-form">
    <h3 class="center">Добавление статьи</h3>
    <p> </p>
    <form class="frm" method="post" asp-controller="Post" asp-action="Create" enctype="multipart/form-data" asp-route-iduser="@Model.Id">

        <div>
            <label asp-for="Title" class="control-label">Название статьи</label>
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title"></span>

            <label asp-for="Annotation" class="control-label">Аннотация</label>
            <input type="text" asp-for="Annotation" class="form-control" />
            <span asp-validation-for="Annotation"></span>

            <label asp-for="PostText" class="control-label">Текст</label>
            <textarea asp-for="PostText" class="form-control"> </textarea>
            <span asp-validation-for="PostText"></span>

            <label class="control-label">Теги(чтобы выбрать несколько удерживайте нажатой клавишу Ctrl): </label>
            <select asp-for="SelectedTags" name="SelectedTags" asp-items="@Model.ListTags" multiple="multiple" class="form-control">
            </select>

            <div class="form-group">
                <label>Загрузить изображение</label>
                <input type="file" name="upload" class="form-control" />
            </div>

        </div>

        <div class="center">
            <input type="submit" class="btn btn-add-post" value="Добавить" />
        </div>
    </form>
    <div>
        <a asp-action="IndexUserPost" asp-controller="Post">Перейти к списку всех статей</a>
    </div>
</div>
