

<p></p>

<div class="center">
    Привет всем! Добро пожаловать в блог о программировании.
</div>

<div class="center">
    Вы можите просмотрть все статьи, размещенные в блоге, выбрав соответствующий пункт меню.
</div>

<div class="center">
     Для того, чтобы оставлять комментарии и добавлять свои статьи, необходимо войти в свой аккаунт.
</div>
