@model IEnumerable<WebBlog.Web.Models.TagViewModel>
@{
    ViewData["Title"] = "Список тегов";
}

<body>
    <div class="container"> 
    <h1> Все теги </h1>

    <a class="btn btn-add col-md-6" role="button" asp-action="Create">Добавить тег</a>


    @foreach (var item in Model)
    {
        <div class="card w-50 card1 ">

            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text" style="text-align:right">Статей по тегу: @item.Posts.Count()</p>
          
                <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">
               
                    @if (User.Identity.Name == item.User.Email||User.IsInRole("admin"))
                    {
                    <a class="btn btn1" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>

                    <form asp-controller="Tag" asp-action="Delete" method="post" asp-route-id="@item.Id">
                        <input type="submit" class="btn btn1" value="Удалить" />
                    </form>
                    }
                    </div>
               
            </div>
        </div>



    }
</div>
</body>

